<p id="last-updated">最終更新日を取得中...</p>
<script src="{{ '/assets/js/gitlog.min.js' | relative_url }}"></script>
<script src="{{ '/assets/js/filterTable.min.js' | relative_url }}"></script>
<div class="input-field">
    <input id="searchInput" type="text" class="validate" onkeyup="filterTable()">
    <label for="searchInput">検索</label>
</div>
<div class="responsive-table">
    <table id="songsTable">
        <thead>
            <tr>
                <th scope="col"><a href="{{ '/songs/曲名' | relative_url }}">曲名</a></th>
                <th scope="col"><a href="{{ '/songs/採譜順序' | relative_url }}">採譜順序</a> <a class="waves-effect waves-light btn-small" onclick="sortTable('1')"><i class="material-icons">sort</i></a></th>
                <th scope="col">備考</th>
            </tr>
        </thead>
        <tbody>
            {% for song in site.data.songs -%}
            <tr>
                {% if song.url != 'none' -%}
                <td class="wrap"><a href="{{ song.url }}" target="_blank">{{ song.name }}<i class="tiny material-icons">open_in_new</i></a></td>
                {% else -%}
                <td class="wrap">{{ song.name }}</td>
                {% endif -%}
                <td>{{ song.lank }}</td>
                <td>
                    {% assign notes = song.note | split: '、' -%}
                    {% for note in notes -%}
                    <a href="{{ '/songs/' | relative_url }}{{ note | strip }}">{{ note | strip }}</a>{% unless forloop.last %}<br>{% endunless -%}
                    {% endfor %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
