<p id="last-updated">最終更新日を取得中...</p>
<script src="{{ '/assets/js/gitlog.min.js' | relative_url }}"></script>
<script src="{{ '/assets/js/filterTable.min.js' | relative_url }}"></script>
<div>
    <input type="text" id="searchInput" placeholder="検索..." onkeyup="filterTable()">
</div>
<div class="responsive-table">
    <table id="songsTable">
        <thead>
            <tr>
                <th scope="col"><a href="{{ '/songs/曲名' | relative_url }}">曲名</a> <a href="#" onclick="sortTable('曲名', 'asc')">↑</a> <a href="#" onclick="sortTable('曲名', 'desc')">↓</a></th>
                <th scope="col"><a href="{{ '/songs/採譜順序' | relative_url }}">採譜順序</a> <a href="#" onclick="sortTable('採譜順序', 'asc')">↑</a> <a href="#" onclick="sortTable('採譜順序', 'desc')">↓</a></th>
                <th scope="col">備考 <a href="#" onclick="sortTable('備考', 'asc')">↑</a> <a href="#" onclick="sortTable('備考', 'desc')">↓</a></th>
            </tr>
        </thead>
        <tbody>
            {% for song in site.data.songs -%}
            <tr>
                {% if song.url != 'none' -%}
                <td class="wrap"><a href="{{ song.url }}">{{ song.name }}</a></td>
                {% else -%}
                <td class="wrap">{{ song.name }}</td>
                {% endif -%}
                <td>{{ song.lank }}</td>
                <td>
                    {% assign notes = song.note | split: '、' -%}
                    {% for note in notes -%}
                    <a href="{{ '/songs/' | relative_url }}{{ note | strip }}">{{ note | strip }}</a>{% unless forloop.last %}、{% endunless -%}
                    {% endfor %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
